:root {

    /* color constants */
    --body-color: #444444;
    --background-color: #eeeeee;
    --nav-bar-color: #eeeeeedd;
    --link-color: #3c7fcd;

    /* font size constants */
    --body-size: 18px;

    /* nav bar size constant */
    --nav-bar-height: 2.5em;

    /* project item constants */
    --translucent-body-color: #444444dd;

    /* transition duration constants */
    --hover-delay: 0.4s;
}

body {
    
    /* font */
    font-family: 'Lato', sans-serif;
    font-size: var(--body-size);
    color: var(--body-color);
    
    padding: 0px;
    margin: 0px;

    line-height: 1.6;
    
    /* Background */
    background-color: var(--background-color);

    height: 100%;
}

p {
    line-height: 1.2;
}

.section {

    /* bottom border */
    border-bottom: 1px dashed var(--translucent-body-color);

    /* don't overlap with nav-bar when scrolled to top */
    padding-top: var(--nav-bar-height);
    box-sizing: border-box;
}

.viewporter {

    /* take up at least one viewport's worth of space */
    width: 100%;
    min-height: 100vh;
}

.landing {

    /* at most one viewport's worth of space */
    max-height: 100vh;

    /* flex box - side-by-side */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landing-element {

    /* padding */
    padding: 0.5em 2em;

    /* flex size - always take up half */
    flex: 0 1 50%;
    min-width: 0;
    min-height: 0;

    /* but don't become too big */
    max-width: 20em;
}

.landing-logo {

    /* fit within div */
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    object-fit: contain;
}

.nav-bar {

    /* fixed on top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* background blur */
    backdrop-filter: blur(3px);
    background-color: var(--nav-bar-color);

    /* padding and size */
    padding: 0.5em 1em;
    height: var(--nav-bar-height);
    box-sizing: border-box;

    /* bottom border */
    border-bottom: 1px solid var(--body-color);

    /* flex box - align to right */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

a {

    /* transitions */
    transition: var(--hover-delay);

    /* font color */
    color: var(--body-color);

    /* font */
    font-size: var(--body-size);
    text-decoration: none;

    /* inline block */
    display: inline-block;
}

a:hover {

    /* hover color */
    color: var(--link-color);
    transform: scale(1.05);
}

a::before {

    /* comment styling */
    content: "//";
    color: var(--link-color);
    margin-right: 0.5em;
}

a.fragment::before {

    /* do not display on fragments */
    content: none;
}

.viewporter.with-header {

    /* flex box to make list fill remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding */
    padding-left: 40px;
    padding-right: 40px;
}

.viewporter-header {

    /* don't shrink or grow */
    flex: 0 0;
}

.viewporter-remaining {

    /* grow all the way */
    flex: 1 0;
}

.project-list {

    /* flex box */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    /* minimum gap between items */
    gap: 1em;
    padding-bottom: 1em;

    /* width */
    width: fit-content;
}

.project-item {
    
    /* background is image */
    background-size: cover;
    background-position: center;

    /* width */
    width: 100%;
    max-width: 20em;
}

.project-item-desc {

    /* colors */
    background-image: linear-gradient(transparent, var(--translucent-body-color), var(--body-color));
    backdrop-filter: blur(2px);
    color: var(--background-color);

    /* transition */
    opacity: 0;
    transition: opacity var(--hover-delay);

    /* padding */
    padding: 1em;
    box-sizing: border-box;

    /* sizing */
    width: 100%;
    height: 100%;

    /* flex box - vertically, from bottom */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

.project-item-desc h2 {

    /* remove bottom margin */
    margin-bottom: 0;
}

.project-item-desc p {

    /* remove top margin */
    margin-top: 0;
}

.project-item-desc:hover {

    /* appear on hover */
    opacity: 1;
}

.project-item-buttons a, 
.contact-buttons-list a,
a.button-like {

    /* background */
    background-color: var(--background-color);

    /* border */
    border-radius: 5px;
    outline: solid 2px var(--translucent-body-color);

    /* fit to content */
    width: fit-content;
    padding: 0.3em 1em 0.3em 0.5em;
}

.contact-buttons-list a {

    display: inline-block;
    width: initial;
}

.contact-details {

    /* center */
    margin: 0 auto;

    /* padding */
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    /* fit contents if possible */
    width: 100%;
    max-width: 650px;
}

.contact-buttons-list {

    /* center */
    margin: 0 auto;

    /* flex box - vertical */
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;

    /* fit contents if possible */
    width: fit-content;
    max-width: 100%;

    /* minimum gap between items */
    gap: 1em;
    padding-bottom: 1em;
}

/* mobile changes */
@media (max-width: 600px) {

    .landing {
        
        /* flex box - stacked vertically instead */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-bar {

        /* flex box - align to center instead */
        justify-content: center;
    }

    .project-item-desc {

        /* always visible instead of on hover */
        opacity: 1;
    }
}

/* project list changes */
@media (max-width: 900px) {

    .project-list {

        /* projects stacked vertically instead */
        flex-direction: column;
    }

    .project-item {
    
        /* no max width */
        width: 100%;
        max-width: initial;
    }
}
