body {
    /* Font */
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #444444;
    text-align: center;
    
    padding: 0px;
    margin: 0px;

    /* Spacing 
    padding: 0 10px;
    margin: 40px auto;
    max-width: 650px;
    */
    line-height: 1.6;
    
    /* Background */
    background-color: #eeeeee;

    height: 100%;
}

h1 {
    line-height: 0;
}

p {
    line-height: 1.2;
}

.landing {

    /* take up one viewport's worth of space */
    width: 100%;
    height: 100vh;

    /* flex box - side-by-side */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landing-element {

    /* padding */
    padding: 0.5em 2em;
}

.landing-logo {

    /* fit within div */
    width: 100%;
    height: 100%;
    object-fit: contain;

    /* don't become too big */
    max-width: 20em;
}

/* mobile changes */
@media (max-width: 600px) {

    .landing {
        
        /* flex box - stacked vertically */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
